kubernetes:
  defaults:
    # scope master/pool nodes by minion_id
    {% if grains['id'].startswith('k8s-master') %}
    master: True
    {% elif grains['id'].startswith('k8s-pool') %}
    pool: True
    {% endif %}
  
    # which host interface to bind, default eth0. when changed please make sure mine funcation "network.internal_ip" is also changed
    bind_iface: eth0
  
    # Override default token for security practice
    token:
      admin: REPLACE_ME_WITH_BASE64_TOKEM_FOR_ADMIN
      kube_proxy: REPLACE_ME_WITH_BASE64_TOKEM_FOR_KUBE_PROXY
      kubelet:  REPLACE_ME_WITH_BASE64_TOKEM_FOR_KUBELET
  
    # Please reference default.yml file for more configurable pillar data
