kubernetes:
  {% if grains['id'].startswith('kubernetes-master') %}
  master: True
  {% else %}
  pool: True
  {% endif %}
  network_provider: cni
  flannel_bind_iface: eth1
  # Please reference default.yml file for more configurable pillar data
    
    
